<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Tlapnet Snow Web Project</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.min.css"/>
</head>
<body>
<div class="container">
    <header class="header">
        <h1>Tlapnet Snow Web Project</h1>
    </header>
    <section class="content">
        {include #content}
    </section>
    <footer class="footer">
        <span class="text-muted">
            &copy; {=date(Y)} Tlapnet
        </span>
    </footer>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>
